includes:
	- phpstan-baseline.neon

parameters:
    level: 9
    paths:
        - src
        - tests
    tmpDir: ./var/cache
    fileExtensions:
        - php
    checkAlwaysTrueStrictComparison: true
    checkUninitializedProperties: true
